html, body {
    width: 100%;
    margin: 0;
}

header {
    text-align: center;
}

.hide-content {
    display: none !important;
}

.content {
    display: flex;
    flex-direction: row;
}

.catselector {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    position: static;
    width: 200px;
    min-width: 200px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.catselector-img {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.catselector-img img {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 80%;
}

.main-col-1 {
    width: 20%;
}

.main-col-2 {
    width: 80%;
}

.main-cats-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 400px;
}

.main-cats-block-catblock {
    margin: 10px;
    width: 300px;
    position: relative;
}

.cat-name {
    position: absolute;
    left: 20px;
    color: #fff;
    text-shadow:0px 0px 10px #000;
}

.main-cat {
    width: 100%;
    height: 300px;
}

.form-block {
    margin-top: 10%;
    margin-left: 10px;
}

.form-control{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.form-control label {
    width: 120px;
}

button {
    padding: 5px;
    margin-right: 10px; 
}